<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technically Speaking</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

  <div class="wrapper">
    <header>
        <h1 class="has-text-black">The Tech Blog</h1>
        <nav class="navbar-blog">
            {{#if loggedIn}}
            <a href="/" class="navbar-item pt-1">homepage</a>
            <a href="/dashboard" class="navbar-item pt-4">dashboard</a>
            {{else}}
            <a href="/login" class="button is-success">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

   

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>