 <div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-blog" class="button is-primary">create post</button></a>
        
        <h2 class="title pb-4">dashboard: your posts</h2><hr>
{{#if blog.length}}
    </div>

    {{#each blog as |blog|}}
        {{> blog-info blog}}
        
            <a href="/dashboard/edit/{{blog.id}}"><button class="button mb-3 ml-3 is-warning">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-2 has-text-centered">you do not currently have any posts</h6>

{{/if}}
