{{> blog-info blog }}


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-3" name="comment-form"></textarea>
  </div>

  <div>
    <button class="button is-danger ml-3" type="submit">add comments</button>
  </div>
  
</form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}